<div class="main-container">
    <div class="menu-container">
        <div class="menu-items-container">
            <div class="menu-item">
                <div class="menu-number">
                    <p>1</p>
                </div>
                <div class="menu">
                    <div class="menu-step">STEP 1</div>
                    <div class="menu-name">Personal Information</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">2</div>
                <div class="menu">
                    <div class="menu-step">STEP 2</div>
                    <div class="menu-name">Contact Information</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">3</div>
                <div class="menu">
                    <div class="menu-step">STEP 3</div>
                    <div class="menu-name">Guardian Information</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">4</div>
                <div class="menu">
                    <div class="menu-step">STEP 4</div>
                    <div class="menu-name">Educational Background</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">5</div>
                <div class="menu">
                    <div class="menu-step">STEP 5</div>
                    <div class="menu-name">Exam Results</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">6</div>
                <div class="menu">
                    <div class="menu-step">STEP 6</div>
                    <div class="menu-name">Program Choices</div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-number">7</div>
                <div class="menu">
                    <div class="menu-step">STEP 7</div>
                    <div class="menu-name">Review and Submit</div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-container">
     <!-- <app-personal-info/> -->
     <!-- <app-contact-info/> -->
     <!-- <app-guardian-info/> -->
     <app-education-background/>
    </div>
    <div class="pagination">
        <div class="previous">
            <button type="button">Previous</button>
        </div>
        <div class="pagination-list">
            <a href="" class="page-link">1</a>
            <a href="" class="page-link">2</a>
            <a href="" class="page-link">3</a>
            <a href="" class="page-link">4</a>
            <a href="" class="page-link">5</a>
            <a href="" class="page-link">6</a>
            <a href="" class="page-link">7</a>
        </div>
        <div class="next">
            <button type="button">Next</button>
        </div>
    </div>

</div>