<p class="form-title">Educational Background</p>
<p class="warning">All fields marrked with '*' are required</p>
<p class="description">Information about applicant's secondary school education</p>

<div class="institution">
    <label for="institution">Institution <span class="warning">*</span></label>
    <input type="text" id="instituttion" name="institution" placeholder="Secondary College" required>
</div>

<div class="program">
    <label for="institution">Program Pursued <span class="warning">*</span></label>
    <input type="text" id="program" name="program" placeholder="General Arts" required>
</div>

<div class="date-container">
    <div class="start">
        <label for="start">Start Date <span class="warning">*</span></label>
        <input type="date" name="start" id="start" required>
    </div>
    <div class="graduation">
        <label for="start">Graduation Date <span class="warning">*</span></label>
        <input type="date" name="end" id="end" required>
    </div>
</div>