.form-title {
    font-size: 2rem;
    font-weight: 600;
}

.description {
    font-size: 14px;
    color: #757575;
    margin-bottom: 1em;
}

.exam-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

input[type="text"],
input[type="number"],
select {
    border-radius: 8px;
    padding: 12px 1em;
    border: 1px solid #d9d9d9;
    width: 100%;
    margin-bottom: .5em;
}

/* select {
    width: calc(100% - .5em);
} */

.grade-container {
    display: flex;
    flex-direction: column;
}
.subject-grade {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
}

.sub-container {
    display: flex;
    gap: .5em;
    justify-content: space-between;
}